# --- Python Core & Byte-code ---
__pycache__/
*.py[codz]
*$py.class
*.so

# --- Distribution / Packaging ---
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# --- Dependency & Environment Managers ---
# .python-version
# Pipfile.lock
# uv.lock
# poetry.lock
# poetry.toml
# pdm.lock
# pdm.toml
# pixi.lock
.pdm-python
.pdm-build/
.pixi
__pypackages__/
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# --- Unit test / Coverage / Linting ---
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
.pytest_cache/
cover/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
.ruff_cache/

# --- Frameworks (Django, Flask, Scrapy, etc.) ---
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
.scrapy
celerybeat-schedule
celerybeat.pid
*.sage.py
.abstra/
marimo/_static/
marimo/_lsp/
__marimo__/

# --- Documentation & IDEs ---
docs/_build/
/site
.ipynb_checkpoints
profile_default/
ipython_config.py
.idea/
# .vscode/
.cursorignore
.cursorindexingignore
.spyderproject
.spyproject
.ropeproject

# --- Build Tools & Logs ---
*.manifest
*.spec
.pybuilder/
target/
cython_debug/
pip-log.txt
pip-delete-this-directory.txt
.pypirc
*.mo
*.pot

# --- Project Specific & Local Files ---
*.db
docker-compose.yaml
test.py
database.py
sandbox.py